<h2> Jenkins Status Tool API</h2></br>

<table border=1>
	<thead>
       <th>Info</th>
       <th>Type</th>
       <th>Action</th>
	</thead>
	
	<tbody>
		<tr>
			<td>Get project status image</td>
			<td>GET</td>
			<td>/project/:project_id/status.png</td>
		</tr>
		<tr>
			<td>Get project status json string</td>
			<td>GET</td>
			<td>/project/:project_id/status.json</td>
		</tr>
		
	</tbody>
</table>